/* Ini File CSS */

main {
    display: flex;
    gap: 32px;
    padding: 32px;
}

h1 {
    background-color: lightcyan;
}
body {
    background-color: lightsteelblue;
}

.main-header {
    text-align: center
}

footer {
    text-align: center;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

article p {
    text-align: justify;
    line-height: 1.6; /* Jarak antar baris agar lebih enak dibaca */
}

form {
    background: cadetblue;
    padding: 32px;
  }
  
.form-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.gender-group {
    display: flex;
    flex-direction: column; /* Label "Jenis Kelamin" tetap di atas */
    gap: 5px;
}

.gender-options {
    display: flex;
    gap: 20px; /* Jarak antar radio button */
    align-items: center;
}

.gender-option {
    display: flex;
    align-items: center;
    gap: 5px; /* Jarak antara radio button dan labelnya */
}


button {
    border: none;
    padding: 8px;
    color: cadetblue;
}

.bg-green-yellow {
    background: white;
}

.bg-cornsilk {
    background-color: cornsilk;
}
.result-section {
    text-align: center;
    background: lightcyan;
    padding: 16px;
}



#result-bmi {
    font-size: xxx-large;
    font-family: math;
}


/* CSS ini akan di terapkan ketika lebar layar lebih kecil dari 488px */
@media only screen and (max-width: 488px) {
    main{
        flex-direction:column;
    }
}